<p id="notice"><%= notice %></p>

<p>
  <strong>Component:</strong>
  <%= @component_ingredient.component_id %>
</p>

<p>
  <strong>Ingredient:</strong>
  <%= @component_ingredient.ingredient_id %>
</p>

<%= link_to 'Edit', edit_component_ingredient_path(@component_ingredient) %> |
<%= link_to 'Back', component_ingredients_path %>
